.createPatient__container {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .95);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .createPatient__h1 {
    font-size: 2em;
    font-weight: bold;
  }

  .createPatient__form {
    width: 46rem;
    color: var(--black);
    background: var(--white);
    padding: 2rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .createPatient__form__inputs__container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: .5rem;

      .createPatient__form__input {
        color: var(--white);
        background: var(--blue-dark);
        padding: .5rem 1rem;
        border-radius: .3rem;
      }

      .createPatient__form__input::placeholder {
        color: rgba(255, 255, 255, .3);
      }
    }

    .createPatient__form__container__checkbox {
      margin: 0 auto;
      padding: .5rem 1rem;
      border-radius: .3rem;
      width: 10rem;
      color: var(--white);
      background: var(--blue-dark);
      display: flex;
      justify-content: center;
      gap: 1rem;

      .createPatient__form__checkbox {
        position: relative;
        cursor: pointer;
        appearance: none;
        background-color: var(--blue);
        border: .1rem solid var(--blue-dark);
        border-radius: .3rem;
        width: 1.3rem;
        height: 1.3rem;
        transition: 150ms;

        &:checked {
          background: var(--blue-light);
          border-color: transparent;
          border-radius: 50%;
          box-shadow: 0 0 1px 4px rgba(143, 143, 143, 0.2)
        }

        &:checked::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 2px;
          background: var(--white);
          top: 68%;
          right: 55%;
          transform: rotate(45deg) translate(-50%, -50%);
        }

        &:checked::after {
          content: '';
          position: absolute;
          width: 11px;
          height: 2px;
          background: var(--white);
          top: 67%;
          left: 18%;
          transform: rotate(-50deg) translate(30%, -50%);
        }

        &:hover {
          transition: 150ms;
        }
      }
    }

    .createPatient__form__buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .createPatient__form__button {
        cursor: pointer;
        font-weight: bold;
        color: var(--white);
        padding: .5rem 1rem;
        border-radius: .3rem;
      }

      .createPatient__form__cancel {
        background: red;
      }

      .createPatient__form__save {
        background: var(--blue-light);
      }
    }
  }
}