.home__container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .home__button {
    cursor: pointer;
    background: var(--blue-dark);
    padding: .5rem 1rem;
    border-radius: .3rem;
    transition: .2s;

    &:hover {
      transition: .2s;
      color: var(--black);
      background: var(--blue-light);
    }
  }

  .home__button__newPatient {
    display: flex;
    align-items: center;
    gap: .5rem;

    .home__button__newPatient__span {
      transform: translateY(.1rem);
      top: 10px;
      transition: ease-in-out 300ms;
    }

    &:hover>.home__button__newPatient__span {
      transform: translateY(.1rem) translateX(.3rem) scale(1.3);
      transition: ease-in-out 300ms;
    }
  }
}